*{
    background-color: rgb(184, 240, 240);
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: solid gray;
    border: 5px solid black;
    margin: 3px;
    padding: 0px;
    border-radius: 5px;
}